textarea {
  resize: none;
}

.input-field {
  padding: 5px;
}
.input-field textarea {
  border-radius: 10px !important;
}
.input-group-append {
  margin-left: 5px;
}
.input-btn {
  text-transform: uppercase;
  background: #4084f5;
  padding-left: 5px;
  border-radius: 10px !important;
}
