html,
body {
  font-family: Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}

.joinInnerContainer {
  width: 30%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-bottom: 2px solid white;
}

.joinLabel {
  float: left;
  color: #9b9dad;
  letter-spacing: 0.1rem;
}

.joinInput {
  background: #d7d9df;
  border: 3px solid #d7d9df;
}

.joinInput:focus {
  border-color: #d7d9df;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.joinButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
